@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

#nav-menu{
    padding-top: 2%;
    padding-left: 10%;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
}

a:hover{
    color: red;
}

